@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}

@font-face {font-family: 'Noto Sans KR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

body, h1, h2, h3, h4, h5, h6, input, textarea, select {
   font-family: 'Noto Sans KR', sans-serif;
}

/* main-header */
*{
    margin: 0;
    padding: 0;
}
#main-header {
    background: #253A59;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

#main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
}


#main-header img {
    padding-left: 70px;
}

a,
a:active,
a:visited {
    text-decoration: none;
}

.lnb {
    margin-left: auto;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    text-align: center;
    justify-content: center;
}

.lnb>ul {
    display: flex;
    text-align: center;
}
.lnb>ul>li{
    list-style-type: none;
    width: 180px;
}
.lnb a {
    display: block;
    font-size: 22px;
    color: #fff;
}

/* 여기width가 문제 */
.subMenu {
    width: 180px;
    height: 200px;
    padding-top: 20px;
    display: none;
    position: absolute;
    background-color: #253A59;
    opacity: 0.85;
}
.subMenu li {
    list-style-type: none;
    width: 180px;
}
.subMenu a {
    margin-top: 25px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.lnb > ul > li:hover .subMenu {
    display: block;
}

.lnb>li:hover>a {
    text-decoration: none;
}

.subMenu a:hover {
    color: rgb(206, 46, 25);
    text-decoration: none;
}

#log-btn {
    background: #fff;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 600;
    width: 110px;
    height: 40px;
    margin-right: 70px;
    margin-left: 30px;
}

#log-btn a {
    color: #000;
    text-decoration: none;   
}

#log-btn a:hover {
    color: #AF4353;
}


/* main page */
#section01-main {
    height: 4200px;
    position: relative;
    align-items: center;
    text-align: center;
    justify-content: center;
}

#section01-main img {
    width: 100%;
}

#section01-main .main-container{
    position: relative;
    text-align: center;
}

.main-h1{
    font-size: 170px;
    color: #00243D;
    font-weight: bold;
    font-style: italic;
    margin-top: 20px;
    letter-spacing: -8.5px;
    text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.main-h2{
    font-size: 220px;
    color: #00243D;
    font-weight: bold;
    margin-top: -90px;
    font-style: italic;
    text-shadow: 10px 10px 4px rgba(0, 0, 0, 0.25);
}

.main-we {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 1500px;
    margin: 0 auto;
    margin-top: 20px;
}

.main-we li {
    list-style: none;
    font-size: 20px;
}


.main-we li{
    font-size: 20px;
    font-weight: bold;
}
.separator1 {
    width: 900px;
    height: 1px;
    background-color: #DFDFDF;
}

.about {
    display: flex;
    align-items: center;
    margin:50px 0;
    padding-left: 120px;
}

.ab1 {
    list-style: none;
    font-size: 100px;
    font-weight: bolder;
    margin-right: 50px;
    color: #072133;
    letter-spacing: -5px;
}

.ab2 {
    list-style: none;
    font-size: 12px;
    background: #fff;
    border: 1px solid #00243D;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ab2 a{
    color: #00243D;
}

.separator {
    flex-grow: 1;
    height: 1px;
    background-color: #00243D;
}




.about2 {
    display: flex;
    align-items: center;
    margin: 50px 0;
    padding-right: 120px;
}

.about2-1{
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ab1-1 {
    list-style: none;
    font-size: 100px;
    margin-left: 50px;
    font-weight: bolder;
    color: #072133;
    letter-spacing: -0.1em;
}

.ab2-1 {
    list-style: none;
    font-size: 12px;
    background: #fff;
    border: 1px solid #00243D;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin-left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ab2-1 a{
    color:#00243D
}

.separator2 {
    flex-grow: 1;
    height: 1px;
    background-color: #00243D;
}

.noticeig {
    position: relative;
    justify-content: center;
    margin-top: 50px;
    align-items: center;
    text-align: center;
}

.not {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap:30px;
}

.not img{
    width: 380px !important;
    height: 380px !important;
}

.reimage {
    display: flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.rev{
    margin-top: 50px;
    position: relative;
    
}

.reimage img{
    width: 277.5px !important;
    height: 277.5px !important;
}

.review{
    width: 268px;
    height: 250px;
    text-align: left;
}

.review img {
    width: 105px !important;
    height: 22px !important;
    margin-top: 20px;
}

.review-container{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap:30px;
}

.review-p1 {
    font-weight: 600;
    font-size: 20px;
}

.review-p2 {
    font-size: 20px;
}
.review-p2 a{
    color:#000;
}
.review-p2 a:hover{
    text-decoration: underline;
}
.about3 {
    display: flex;
    align-items: center;
    margin:50px 0;
    padding-left: 120px;
}

.ab1-2 {
    list-style: none;
    font-size: 100px;
    margin-right: 50px;
    letter-spacing: -0.1em;
    font-weight: bolder;
    color: #072133;
}

.ab2-2 {
    list-style: none;
    font-size: 12px;
    background: #fff;
    border: 1px solid #00243D;
    border-radius: 30px;
    width: 100px;
    height: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ab2-2 a{
    color:#00243d;
}
.separator3 {
    flex-grow: 1;
    height: 1px;
    background-color: #00243D;
}

/* 예약하기 */
.delivery-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 250px;
    margin-top: 50px;
}

.deli-con {
    justify-content: center;
    gap: 30px;
    width: 1200px;
    display: flex;
}

.deliv-reser {
    display: flex;
    width: 585px;
    height: 250px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    background-color: #F9F9F9;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.deliv-reser img {
    width: 130px !important;
    height: 130px !important;
}

.clock {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 448px;
}

.clock-p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.clockp {
    font-size: 40px;
    font-weight: 600;
} 

.clockp2 {
    font-size: 32px;
}

.deliv-reser2 {
    display: flex;
    width: 585px;
    height: 250px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50px;
    background-color: #253A59;
    color: #fff;
    margin: 0 auto;
}

.deliv-reser2 img {
    width: 130px !important;
    height: 130px !important;
}

.deli {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 425px;
}

.deli-p {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.delip {
    font-size: 40px;
    font-weight: 600;
}

.delip2 {
    font-size: 32px;
}



/* footer */
footer {
    width: 100%;
    height: 187px;
    background: #898A8B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.foote r-icons {
    display: flex;
    margin-left: 20px;
}

.footer-logo img, .footer-icons img {
    margin-right: 10px;
}

.footer-text p {
    font-size: 14px;
    color: #fff;
    text-align: left;
}