
body {
    margin: 0;
    padding: 0;
    
    flex-direction: column; /* 수직 정렬 */
    
    height: 100%;
    background-color: #fff;
    
}
/* main-header */
*{
    margin: 0;
    padding: 0;
}
#main-header {
    background: #253A59;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

#main-header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
}


#main-header img {
    padding-left: 70px;
}

a,
a:active,
a:visited {
    text-decoration: none;
}



.lnb {
    margin-left: auto;
    flex-direction: column;
    /* align-items: flex-start; */
    align-items: center;
    text-align: center;
    justify-content: center;
}

.lnb>ul {
    display: flex;
    text-align: center;
}
.lnb>ul>li{
    list-style-type: none;
    width: 180px;
}
.lnb a {
    display: block;
    font-size: 22px;
    color: #fff;
}

/* 여기width가 문제 */
.subMenu {
    width: 180px;
    height: 200px;
    padding-top: 20px;
    display: none;
    position: absolute;
    background-color: #253A59;
    opacity: 0.8;
}
.subMenu li {
    list-style-type: none;
    width: 180px;
}
.subMenu a {
    margin-top: 25px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    width: 100%;
}

.lnb > ul > li:hover .subMenu {
    display: block;
}

.lnb>li:hover>a {
    text-decoration: none;
}

.subMenu a:hover {
    color: rgb(206, 46, 25);
    text-decoration: none;
}
#log-btn {
    background: #fff;
    border: 1px solid #000;
    border-radius: 30px;
    font-size: 15px;
    font-weight: 700;
    width: 110px;
    height: 40px;
    margin-right: 70px;
    margin-left: 30px;
}

#log-btn a {
    color: #000;
    text-decoration: none;   
}

#log-btn a:hover {
    color: #AF4353;
}


/* 배너사진 */

    
.spon-p {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spon-p p {
    position: absolute;
    color: #000;
    font-size: 50px;
    font-weight:bold;
}
.spon-p img{
    width: 100%;
    height: 250px;
}
    


/* 로고+hr */
.sponlogocontaineryou {
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    padding-left: 120px;
    margin: 50px 0 ;
}
.sponlogocontainerins{
    display: flex;
    align-items: center; /* 수직 가운데 정렬 */
    padding-right: 120px;
    margin-top: 50px;
}


.sponlogocontainerins img, .sponlogocontaineryou img{
    display: inline-block; /* 인라인 요소로 설정 */
}

.custom-divideryou  {
    flex: 1; /* 나머지 공간을 모두 차지하도록 설정 */
    margin-left:30px;
    border: none;
    border-top: 1px solid black; /* 수평선 스타일링 */
}
.custom-dividerins{
    flex: 1; /* 나머지 공간을 모두 차지하도록 설정 */
    margin-right:30px;
    border: none;
    border-top: 1px solid black; /* 수평선 스타일링 */
}

/* 유튜브대표영상css */
.main_vod {
    position: relative;
    padding: 90px 0 0;
    width: 100%;
    margin:50px 0;
}
.main_vod .inner {
    margin: 0 auto;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center
    ;}

.main_vod .inner:after {
    content: "";
    display: block;
    clear: both;
}

.main_vod .inner .tit_area {
    text-align: center;
    margin-top: 100px;
    padding-top: 66px;
    width: 224px;
    color: #fff;
    border-top: 1px solid #fff;
}

.main_vod #vimeoWrap {
    padding-top: 0px;
    height: 0;
    overflow: hidden;
    margin: 0;
    width: 1008px;
    height: 567px;
    background: #333;
    margin-left: 100px;
    box-shadow: 0px 20px 30px 2px rgba(0, 0, 0, .3);
}

.main_vod:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 536px;
    background: #253a59 url(/images/backcolor.png) no-repeat 50% 0;
    z-index: 1;
}


/* 유튜브슬라이더css */
.you{
    
    width:1200px;
    margin: 0 auto;
    
}
.youslider {
    width: 100%;
}
.youtitle{
    font-size: 20px;
    margin: 20px 3px;
}
.youbtn{
    height: 100%;
    position:relative;
    
}
.youbtnn{
    overflow: hidden;

}
.youslides {
    transition: transform 0.5s ease-in-out;
    display: flex;
    
}

.youslide{
    box-sizing: border-box;
    padding:0 3px; /* 이미지 사이에 약간의 패딩을 추가 */
    
}
#slider1 .youslide {
    min-width: calc(100% / 3); /* 한 번에 3장 이미지를 보여주기 위해 100%를 3으로 나눔 */
}

#slider2 .youslide {
    min-width: calc(100% / 6); /* 한 번에 5장 이미지를 보여주기 위해 100%를 5으로 나눔 */
}

.youslide img {
    width: 100%;
    display: block;
}

/* 유튜브동영상넘어가기단추css */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #000;
    border: none;
    /* padding: 10px; */
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    width: 40px; /* 버튼 크기 지정 */
    height: 40px; /* 버튼 크기 지정 */
    border-radius: 50%; /* 둥근 버튼 만들기 */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.prev {
    left: -20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.next {
    right: -20px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}


/* 인스타 게시물css */




.slidebg{
    overflow: hidden;
    
}
.slider {
    position: relative;
    width: 100%;
    margin: 50px 0;
}

.slides {
    transition: transform 0.5s ease-in-out;
    display: flex;
}

.slide {
    min-width: 20%; 
    box-sizing: border-box;
    padding-left:60px; /* 이미지 사이에 약간의 패딩을 추가 */
    
    
}

.slide img {
    width: 100%;
    display: block;
    box-shadow: 0px 0px 30px 2px rgba(0, 0, 0, .3);
}

.prev2, .next2 {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    color: #000;
    width: 40px; /* 버튼 크기 지정 */
    height: 40px; /* 버튼 크기 지정 */
    border-radius: 50%;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.prev2 {
    left: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.next2 {
    right: 10px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

/* 인스타피드css */

.insbg{
    width: 1062px;
    margin: 40px auto;
    
}
.instaspon {
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,.3);
    width: 100%;
    height: 100%;
}

ul.grid {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 350px);
    gap: 6px;
    list-style-type: none;
    padding: 0;
    margin:0;
    display: flex;
    flex-wrap: wrap;
    
    
    
}
.grid-item {
    position: relative;
}

.grid-item img {
    object-fit: cover;
    display: block;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.overlay img{
    margin: 0 10px;
    opacity: 0.7;
}

.overlay img:hover {
    opacity: 1;
    transform: scale(1.1);
}


.main-image-container:hover .overlay{
    opacity: 1;
    background-color: rgba(41, 41, 41, 0.5)
    
}

.hover-image {
    width: 100%;
    height: 100%;
}


.instatitle {
    
    
    font-size: 32px;
    letter-spacing: -3px;
    font-weight: bold;
        text-align: center;
    width: 1062px;
    padding: 30px 0 30px

}

/* footer */
footer {
    width: 100%;
    height: 187px;
    background: #898A8B;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 150px;
}

.footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 50px;
}

.footer-logo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.footer-icons {
    display: flex;
    margin-left: 20px;
}

.footer-logo img, .footer-icons img {
    margin-right: 10px;
}

.footer-text p {
    font-size: 14px;
    color: #fff;
    text-align: left;
}